*{
    border:0;
    margin:0;

}
#city-Search{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    margin-top:30px;
    margin-bottom:20px;
}

header{
    font-size:50px;
    align-items: center;
    padding:10px;
    background-color:darkgoldenrod;
    text-align: center;
    margin-bottom:7px;
}

body {
    font-family: sans-serif;
    background-color: #f9fbfd;
  }


  .present-Day{
    padding:30px;
    height:40px;
    width:40px;
  }